# Node modules
node_modules/

# Build output
dist/

# TS build info
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# OS / editor bordel
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Coverage / testy (do budoucna)
coverage/

# Temporary files
*.tmp
*.log
