body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

h1 {
	text-align: center;
}

.containerInput {
	width: 600px;
	margin: 20px auto;
	display: flex;
	gap: 10px;
}

input {
	flex: 1;
	padding: 8px;
}

button {
	padding: 8px 12px;
	cursor: pointer;
}

table {
	width: 600px;
	margin: 0 auto;
	border-collapse: collapse;
	background-color: #fff;
}

th,
td {
	padding: 12px;
	border-bottom: 1px solid #ddd;
	text-align: left;
	cursor: pointer;
}

thead {
	background-color: #333;
	color: white;
}

/* tr:hover {
	background-color: #f5f5f5;
} */

button.remove {
	background-color: #e74c3c;
	color: white;
	border: none;
}

button.edit {
	background-color: #3498db;
	color: white;
	border: none;
	margin-right: 5px;
}
