body {
	background-color: #ccc;
}

h1 {
	text-align: center;
	color: #2c3e50;
}

.container {
	max-width: 500px;

	background-color: #fff;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
	width: calc(100% - 100px);
	padding: 10px;
	margin-right: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button {
	padding: 10px 5px;
	background-color: #3498db;
	color: white;
	border: none;
}

button:hover {
	background-color: #3498ff;
	cursor: pointer;
}

ul {
	list-style: none;
	padding: 0;
	margin-top: 20px;
}

li {
	padding: 10px;
	margin-bottom: 5px;
	background-color: #ecf0f1;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

li.completed {
	text-decoration: none;
	cursor: pointer;
	color: green;
}

li button {
	background-color: #c0392b;
}

li button:hover {
	background-color: #ec1f08;
}
